<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TradeWallet</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script src="../static/js/home.js"></script>
</head>

<body>
    <div id="container">
        <header id="header">
        <div class="logo"><img src="../static/img/favicon.ico"></div>
        <div id="buttonContainer"></div>
        </header>

        <div id="bottombar">
            <div id="leftbar">
                <p id="welcome_txt">Welcome User1</p>
                <p id="balance_txt"> Your balance : ####</p>
                <p id="pnl_txt"> Today PnL : ####</p>
            </div>

            <div id="rightbar">
                <div id="markets_overview" class="fields">
                    <p class="title_txt">Market :</p>
                    <p>BTC :</p>
                    <p>ETH :</p>
                </div>
                <div id="bots_overview" class="fields">
                    <p class="title_txt">Bots :</p>
                    <p>bot1 : 500</p>
                    <p>bot2 : 100</p>

                </div>
            </div>
        </div>

    </div>
</body>

</html>